{{#each this}}
<li class="tv_list">
    <img class="tv_list_img" src="https://image.tmdb.org/t/p/w220_and_h330_face{{poster_path}}" alt="{{original_name}}">
    <h2 class="tv_list_name">{{name}}</h2>
    <div class="tv_list_rate">{{vote_average}}</div>
</li>
{{/each}}